<!-- start custom footer snippets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.0/autosize.min.js"></script>
<script src="/assets/js/jquery.autoKana.js" charset="UTF-8"></script>
<script src="/assets/js/footer-custom.js"></script>
<p id="page-top"><a href="#"><i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i></a></p>

<!-- end custom footer snippets -->
