<!-- start custom footer snippets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/v4-shims.js"></script>

<p id="page-top"><a href="#pagetop"><i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i></a></p>

<script>
	$("h1.page__title").text(
		$.trim(
			$("h1.page__title").text()
		)
	).lettering();

	$(function() {
		var topBtn = $('#page-top');
		topBtn.hide();
		//スクロールが100に達したらボタン表示
		$(window).scroll(function() {
			if ($(this).scrollTop() > 100) {
				topBtn.fadeIn();
			} else {
				topBtn.fadeOut();
			}
		});
		//スクロールしてトップ
		topBtn.click(function() {
			$('body,html').animate({
				scrollTop: 0
			}, 500);
			return false;
		});
	});

</script>

<!-- end custom footer snippets -->
