---
layout: archive
permalink: /month-archive.html
title: "Posts by Year, Month"
author_profile: true
sitemap: false
---

{% assign yearmonths_dupli = "" | split: "" %}
{% for post in site.posts %}
    {% assign ym = post.date | date: '%Y-%m' %}
    {% assign yearmonths_dupli = yearmonths_dupli | push: ym %}
{% endfor %}
{% assign yearmonths_dupli = yearmonths_dupli | sort | reverse %}

{% assign yearmonths = "" | split: "|" %}
{% assign count = 0 %}
{% assign prev = yearmonths_dupli | first %}
{% for ym in yearmonths_dupli %}
    {% if prev == ym %}
        {% assign count = count | plus: 1 %}
    {% else %}
        {% assign item = "" | split: "" | push: prev | push: count %}
        {% assign yearmonths = yearmonths | push: item %}
        {% assign count = 1 %}
    {% endif %}
    {% assign prev = ym %}
{% endfor %}
{% assign item = "" | split: "" | push: ym | push: count %}
{% assign yearmonths = yearmonths | push: item %}

<ul class="taxonomy__index narrow">
{% for post in yearmonths %}
    <li><a href="#{{ post[0] }}"><strong>{{ post[0] }}</strong> <span class="taxonomy__count">{{ post[1] }}</span></a></li>
{% endfor %}
</ul>

{% capture written_year-month %}'None'{% endcapture %}
<div class="posts-entries-list">
{% for post in site.posts %}
  {% capture year-month %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if year-month != written_year-month %}
    {% if forloop.first == false %}
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    {% endif %}
    <h3 id="{{ year-month | slugify }}" class="archive__subtitle">{{ year-month }}</h3>
    {% capture written_year-month %}{{ year-month }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
  {% if forloop.last == true %}
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  {% endif %}
{% endfor %}
</div>
