---
layout: archive
permalink: /month-archive.html
title: "Posts by Year, Month"
author_profile: true
sitemap: false
---

{% assign yearmonths_dupli = "" | split: "" %}
{% for post in site.posts %}
    {% assign ym = post.date | date: '%Y-%m' %}
    {% assign yearmonths_dupli = yearmonths_dupli | push: ym %}
{% endfor %}
{% assign yearmonths_dupli = yearmonths_dupli | sort | reverse %}

{% assign yearmonths = "" | split: "|" %}
{% assign count = 0 %}
{% assign prev = yearmonths_dupli | first %}
{% for ym in yearmonths_dupli %}
    {% if prev == ym %}
        {% assign count = count | plus: 1 %}
    {% else %}
        {% assign item = "" | split: "" | push: prev | push: count %}
        {% assign yearmonths = yearmonths | push: item %}
        {% assign count = 1 %}
    {% endif %}
    {% assign prev = ym %}
{% endfor %}
{% assign item = "" | split: "" | push: ym | push: count %}
{% assign yearmonths = yearmonths | push: item %}

<ul class="taxonomy__index narrow">
{% for post in yearmonths %}
    <li><a href="#{{ post[0] }}"><strong>{{ post[0] }}</strong> <span class="taxonomy__count">{{ post[1] }}</span></a></li>
{% endfor %}
</ul>

<div class="posts-entries-list">
{% assign postsByMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y-%m'" %}
{% for month in postsByMonth %}
    <h3 id="{{ month.name }}" class="archive__subtitle">{{ month.name }}</h3>
    {% for post in month.items %}
        {% include archive-single.html %}
    {% endfor %}
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
{% endfor %}
</div>
