---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

li.triangle {
  line-height: 1.5;
  padding: 0 0.5em 0 0;
  list-style-type: none!important;
}

li.triangle:before {
  font-family: FontAwesome;
  content: "\f0da ";
  /*position: absolute;*/
  /*left : 2em; /*左端からのアイコンまで*/
  color: lightgrey; /*アイコン色*/
}

/* http://codersblock.com/blog/customizing-github-gists/ */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
    max-height: 400px; /* http://pineplanter.moo.jp/non-it-salaryman/2016/08/24/blog-source-gist-height/ */
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none !important;
}