.main {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 5px #7d7; 
 background: repeating-radial-gradient(#222, #222 10%, #7d7 11%, #222 12%);
}



.cross {
  width: 100%;
  height: 0;
  box-shadow: 0px 0px 2px 1px #7d7; 
  position: relative;
  top: 50%;
}

.cross2 {
  transform: rotate(45deg)  
}

.cross3 {
  transform: rotate(-45deg)  
}

.cross4 {
  transform: rotate(90deg)  
}


.dots {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: relative;
  background-color: #7d7;
  box-shadow: 0px 0px 2px 1px #7d7;  
}

.dot1 {
  box-shadow: 0px 0px 2px 3px #7d7;  
  animation: fly1 4s linear infinite alternate;
}

.dot2 {
  box-shadow: 0px 0px 2px 1px #7d7;  
  animation: fly2 6s linear infinite alternate;
}

.dot3 {
  box-shadow: 0px 0px 2px 1px #7d7;  
  animation: fly3 7s linear infinite;
}

.dot3 > div {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px #7d7;  
  animation: attacker .4s linear infinite;
}

.dot4 {
  box-shadow: 0px 0px 2px 1px #7d7;  
  animation: fly4 4s linear infinite alternate;
}

.dot5 {
  box-shadow: 0px 0px 2px 5px #7d7;  
  animation: fly5 8s linear infinite alternate;
}

.swinger {
  width: 50%;
  height: 50%;
  position: relative;
  background: linear-gradient(290deg, #7d7 0%,rgba(205,235,139,0) 80%);
  top: 0%;
  left: 50%;
  transform-origin: 0% 100%;
  animation: swing 4s infinite linear;
}
.line {
  position: relative;
  top: 100%;
  width: 100%;
  height: 0;
  box-shadow: 0px 0px 5px 5px #7d7;
}

@keyframes swing {
    0% {transform: rotate(0deg) skew(-30deg,-30deg);}
    100% {transform: rotate(360deg) skew(-30deg,-30deg);}
}

@keyframes fly1 {
  0% {left: 100%; top: 100%;} 
  30% {left: 90%; top: 40%;}
  41% {left: 80%; top: 30%;}
  100% {left: -30%; top: 20%;}
}

@keyframes fly2 {
  0% {left: 10%; top: 0%;} 
  100% {left: 90%; top: 120%;}
}


@keyframes fly3 {
  0% {left: 150%; top: -400%; } 
  100% {left: 20%; top: 120%;}
}

@keyframes fly4 {
  0% {left: -20%; top: 70%; } 
  100% {left: 120%; top: 20%;}
}


@keyframes fly5 {
  0% {left: -20%; top: 40%; } 
  100% {left: 130%; top: 20%;}
}

@keyframes attacker {
  0% {box-shadow: 0px 0px 2px 1px #d22; } 
  100% {box-shadow: 0px 0px 2px 5px #f22;}
}
