---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% capture written_year-month %}'None'{% endcapture %}
{% for post in paginator.posts %}
  {% capture year-month %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if year-month != written_year-month %}
    <h4 id="{{ year-month | slugify }}" class="archive__subtitle">{{ year-month }}</h4>
    {% capture written_year-month %}{{ year-month }}{% endcapture %}
  {% endif %}
  {% include archive-title.html %}
{% endfor %}

{% include paginator.html %}
